[submodule "ThirdParty/jsoncpp"]
	path = ThirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "Layers/Fossilize"]
	path = Layers/Fossilize
	url = https://github.com/ValveSoftware/Fossilize.git
[submodule "Tools/GLSLCompiler"]
	path = ThirdParty/GLSLCompiler
	url = https://github.com/hyzboy/GLSLCompiler.git
