[submodule "ThirdParty/jsoncpp"]
	path = ThirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "Layers/Fossilize"]
	path = Layers/Fossilize
	url = https://github.com/ValveSoftware/Fossilize.git
[submodule "Tools/GLSLCompiler"]
	path = Tools/GLSLCompiler
	url = https://github.com/hyzboy/GLSLCompiler.git
[submodule "ThirdParty/MathGeoLib"]
	path = ThirdParty/MathGeoLib
	url = https://github.com/juj/MathGeoLib.git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
